html,
body {
  padding: 0;
  margin: 0; }

.result__list__item.hidden {
  display: none; }

video {
  max-width: 100vw;
  max-height: 100vh; }

#result {
  display: none; }
  #result.shown {
    display: flex;
    position: absolute;
    left: 10%;
    top: 10%;
    right: 10%;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    background-color: white;
    color: black;
    word-break: break-all; }
  #result__close {
    align-self: flex-end; }
