html,
body {
  padding: 0;
  margin: 0;
}
body {
  background-color: gray;
}

video {
  max-width: 100vw;
  max-height: 100vh;
}

#qrcodereader__canvas {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

#result {
  display: none;
  &.shown {
    display: flex;
    position: absolute;
    left: 10%;
    bottom: 10%;
    right: 10%;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    background-color: white;
    color: black;
    word-break: break-all;
  }
  &__close {
    align-self: flex-end;
  }
}

#errormessage {
  display: none;
  &:not(:empty) {
    display: block;
    color: white;
    background-color: red;
    border-radius: 10px;
    font-weight: bold;
    position: absolute;
    left: 10%;
    top: 10%;
    right: 10%;
    padding: 10px;
  }
}

#menu {
  display: none;
  &.shown {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    position: absolute;
    background-color: #e0e0e0;
    color: black;
    border-radius: 10px;
    user-select: none;
  }
  > div {
    padding: 10px;
    &:not(:last-of-type) {
      border-bottom: 1px solid #101010;
    }
    &:first-of-type {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    &:last-of-type {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    &:hover {
      background-color: #d0d0d0;
    }
    &:active {
      background-color: #f0f0f0;
    }
    &.disabled {
      pointer-events: none;
      color: #808080;
      background-color: #c0c0c0
    }
  }
}
